
.navbar-brand {
    font-size:23px !important;
}
.nav-item {
    color: white !important;
    font-size: 18px !important;
}
.nav-item:hover {
    color: white!important;
    background-color: #66FCF1;
    border-radius: 15px;
}
.App {
    background-image: url('../images/bg.png')
}
h1 {
    color: #66FCF1;
    margin-top: 90px;
    font-family: 'Anton', sans-serif;
}

.display-4 {
    font-size: 8rem !important;
}
.lead {
    color: white!important;
}

.closeBtn:hover{
    background-color: #66FCF1 !important;
}
