
h1 {
    color: #66FCF1;
    margin-top: 90px;
    font-family: 'Anton', sans-serif;
}

.display-4 {
    font-size: 8rem !important;
}
.lead {
    color: white!important;
}

.closeBtn:hover{
    background-color: #00adef !important;
    color: white !important;
}