/* This CSS file is for OTP input field */

.partitionedOTP {
    padding-left: 15px !important;
    letter-spacing: 32px !important;
    border: 0 !important;
    background-image: linear-gradient(to left, black 70%, rgba(255, 255, 255, 0) 0%) !important;
    background-position: bottom !important;
    background-size: 40px 1px!important;
    background-repeat: repeat-x!important;
    background-position-x: 35px!important;
    width: 240px!important;

}